
 .main_body{
        background-color: black;
        position: absolute;
        border: 2px solid black;
        padding: 10px;
        
    }
   .ans_field{

        background-color: white;
       width: 150px;
       height: 40px;
        border: 2px solid black;
        overflow: hidden;

       
   }
   .r1{
               margin-top: 20px;

   }
   .r1,.r2,.r3,.r4
   {
       
    margin-left: 23px;;
       }
        